# Compiled object files and libraries
*.o
*.a
*.so

# Module files
*.mod

# Python byte-compiled / optimization / DLL files
__pycache__/
*.py[cod]

# Makefiles and related
Makefile
config.log
config.status
autom4te.cache/

# Backups and swap files
*.bak
*~
*.swp

# Files for testing
/test/
/temp/
/test*
/temp*

# Executables
*.exe
*.out

# CO5BOLD temporary compilation helper files
/3dparty/cobold/CON
/3dparty/cobold/DUST
/3dparty/cobold/EOS
/3dparty/cobold/MHD
/3dparty/cobold/TWEAK
/3dparty/cobold/OPTA
/3dparty/cobold/CUB
/3dparty/cobold/RAD
/3dparty/cobold/RHD
/3dparty/cobold/RHDB
/3dparty/cobold/STR
/3dparty/cobold/LA
/3dparty/cobold/DES
/3dparty/cobold/HION
/3dparty/cobold/TIME
/3dparty/cobold/UIO
/3dparty/cobold/*.M
/3dparty/cobold/*.kmo
/3dparty/cobold/*.d
/3dparty/cobold/opta_par_module.f90
/3dparty/cobold/uio_filedef_module.f90
/3dparty/cobold/compiler_flags.info
